@media (max-width : 992px) {
  .bg-block{
    background-image: url(../img/bg-body/bg-bodi-md-992.jpg);
    
  }
	.header-navigation__row{
    margin-left: auto;
    margin-right: auto;
  }
  .footer__linck--width{
    width: 230px;
  }
}