@media (max-width : 768px) {
  .bg-block{
    background-image: url(../img/bg-body/bg-bodi-md-768.jpg);
    
  }
	.title{
    font-size: 26px;
  }
  .footer__linck--width{
    width: 100%;
  }
  .footer-row{
    flex-direction: column;
    align-items: center;
  }
  
}