@media (max-width : 992px) {
	.sidebar{
    max-width: 150px;
  }
  .sidebar-copyright{
    font-size: 12px;
  }
  .podrobno-block{
    margin-left: 180px;
  }
  .podrobno-img-2{
    max-width: 550px;
  }
}