.podrobno-block{
  display: flex;
  justify-content: space-between;
  margin-left: 320px;
  position: relative;
  background-color: $primary-bg-block;
}
.podrobno-img{
  margin: 40px;
  max-width: 400px;
  width: 100%;
}
.podrobno-img-1,
.podrobno-img-2{
  box-shadow: 0 0 10px rgba(90, 88, 88, 0.5);
  transition: 1s;
}
.podrobno-img-1{
  animation-name:появление; 
	animation-duration: 2s;
}

.podrobno-img-2{
  position: absolute;
  top: 100px;
  left: 20px;
  max-width: 900px;
  animation-name:появление; 
	animation-duration: 2s;
}
@keyframes появление{
  0%{
    opacity:0;
    }
  100% {
    opacity:1;
    /*background: #18ead9;*/
    }
  }

.podrobno-img--non{
  display: none;
}
.podrobno-img-btn{
  @include mx-podrobno-img-btn;
  position: absolute;
  top: 100px;
  left: 30px;
  z-index: 50;
}
.podrobno-btn{
  @include mx-podrobno-btn;
  margin-top: 30px;
}
