@media (max-width : 1200px) {
	.sidebar{
    max-width: 250px;
  }
  .my-projects{
    margin-left: 300px;
  }
  .portfolio-projects-slaid{
    max-width: 320px;
  }
  .portfolio-projects__img-block{
    height: 400px;
  }
 }