@media (max-width : 992px) {
	.sidebar{
    max-width: 150px;
  }
  .my-projects{
    margin-left: 180px;
  }
  .sidebar-copyright{
    font-size: 12px;
  }
  .portfolio-projects__img-block{
    height: 360px;
  }
}